<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Jesse Gerroir. It uses data from mapbox and a weather api.</p>
            <img class="portrait" src="/images/tree.jpg">
        </div>
    
        {{>footer}}
    </body>
</html>